@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

body {
  font-size: 16px;
  margin: 0;
  background-color: #eaeaea;
}

nav {
  background-color: black;
  padding: 15px 45px;
}
nav a {
  text-decoration: none;
  color: white;
}

h1 {
  margin-left: 45px;
}

table {
  min-height: 75vh;
  width: 100%;
  border-collapse: unset;
  display: table;
  border-spacing: 0;
  padding: 0 45px;
}

.pagination {
  min-height: 15px;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  justify-content: center;
  margin: 25px 0;
}

.pagination .active {
  background-color: #00968863;
}

.pagination button:not(:first-of-type):not(:last-of-type) {
  min-width: 45px;
  min-height: 25px;
}

.pagination button:not(:first-of-type) {
  border-left: none;
}

.pagination button:hover {
  background-color:#03585063;
}

.pagination button:disabled,
button[disabled]{
  border: 1px solid #999999;
  border-right-color: rgba(0,0,0, 0.5);
  background-color: #cccccc;
  color: #666666;
  cursor:default;
}

thead {
  background-color: #009688;
  color:white;
}

td {
  padding: 5px 15px;
}

tbody tr:nth-child(even) {
  background-color: #84608b17;
}

tbody tr:nth-child(odd) {
  background-color: none;
}

table.table-repos td {
  vertical-align: super;
}  

table.table-repos a:hover {
  color: crimson;
} 

table.table-repos tr td:first-of-type {
  white-space: nowrap;
}

table.table-repos a {
  color: #385765;
}

table.table-repos tbody tr td:last-of-type {
  font-size: 0.8rem;
}

.avatar {
  width: 25px;
  border-radius: 50%;
  height: 25px;
  margin-right: 15px;
}